/* цвет фона #E5E5E5 белый

вторичный цвет текста #757575 серый
главный цвет заголовков  #212121 черный
акцентный цвет #2196F3 голубой

цвет шрифта на сером фоне, секции с работниками #FFFFFF белый
цвет фильтра, секции с работниками #F5F4FA светло-серый

цвет футера и главной секции #2F303A
шрифт футер rgba(255, 255, 255, 0.6)
*/

body{
    font-family: "Roboto";
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;

    --main-background-color: #FFFFFF;
    --section-filter-color: #F5F4FA;
    --hero-text-white: #FFFFFF;

    --footer-hero-color: #2F303A;
    --footer-text-color: rgba(255, 255, 255, 0.6);
}

a{
    text-decoration: none;
}

.nav-list-link{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02cm;
    text-align: left;
    color: var(--two)
}

.nav-list-link:hover{
    color: #2196F3
}

.contacts-list-link{
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: #757575
}

.contacts-list-link:hover{
    color: #2196F3
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin: 0 auto;
}