/* цвет фона #E5E5E5 белый

вторичный цвет текста #757575 серый
главный цвет заголовков  #212121 черный
акцентный цвет #2196F3 голубой

цвет шрифта на сером фоне, секции с работниками #FFFFFF белый
цвет фильтра, секции с работниками #F5F4FA светло-серый

цвет футера и главной секции #2F303A
шрифт футер rgba(255, 255, 255, 0.6)
*/

btn


:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;

    --main-background-color: #FFFFFF;
    --section-filter-color: #F5F4FA;
    --hero-text-white: #FFFFFF;

    --footer-hero-color: #2F303A;
    --footer-text-color: rgba(255, 255, 255, 0.6);
}

.logo-header {
    color: var(--primary-text-color);
}
.logo-footer {
    color: var(--hero-text-white);
}

.logo {
    color: var(--accent-color);
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;

    margin-right: 93px;
}

.team-list{
    display: flex;
    justify-content: space-between;
}

.section-team-title,.section-work-title{
    margin-bottom: 50px;
}

.team-list-img{
    margin-bottom: 30px;
}

.team-list-title{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.team-list-description{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

.address-list-link{
    color: #757575;
}

ul {
    list-style: none;
}

/* Шрифты */

.nav-list{
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16.41px;
}

.contacts-list{
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16.41px;
}

.section-hero{
    font-family: "Roboto";;
}

.secton-hero-title{
    font-family: "Roboto";
    font-size: 44px;
    text-align: center;
    line-height: 60px;
}

.section-hero-btn{
    font-family: "Roboto";
    font-size: 16px;
    text-align: center;
}

.section-hero-link{
    font-family: "Roboto";
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}

body{
    font-family: "Roboto";
}

.features-list-item{
    font-family: "Roboto";
    font-size: 14px;
}

.features-list-title{
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16.41px;
}

.features-list-description{
    font-family: "Roboto";
    font-size: 14px;
    line-height: 24px;
}

.section-work-title{
    font-family: "Roboto";
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
}

.section-team-title{
    font-family: "Roboto";
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
}

.team-list-title{
    font-family: "Roboto";
    font-size: 16px;
    line-height: 18.75px;
}

.team-list-description{
    font-family: "Roboto";
    font-size: 16px;
    line-height: 18.75px;
}

.address-list{
    font-family: "Roboto";
    font-size: 14px;
    line-height: 24px;
}


.nav-list-link{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02cm;
    text-align: left;
    color: var(--two)
}

.nav-list-link:hover{
    color: #2196F3
}

.contacts-list-link{
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: #757575
}

.contacts-list-link:hover{
    color: #2196F3
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin: 0 auto;
    
}

.section-features-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.work-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    border: 1px solid #ECECEC;
    border-style: none none solid none;

    padding-left: 215px;
    padding-top: 24px;
    padding-bottom: 25px;

    width: 1600px;
}


img{
    display: block;
}

.section-hero-btn{
    display: block;
    margin: 0 auto;
    background-color: #2196F3;
    width: 216px;
    height: 50px;
    border: 6px solid #2196F3;
    border-radius: 7px;
    margin-top: 30px;
}
.section-hero-link{
    color: #ECECEC;
}
.contacts-list{
    display: flex;
    justify-content: end;
    gap: 50px;
    align-self: center;
}
.nav-list{
    display: flex;
    justify-content: start;
    gap: 50px;
    margin-left: 230px;
    align-self: center;
}


.section-hero{
    padding: 200px 0;
}
.section-features{
    padding: 94px 0;
}
.section-work{
    padding-bottom: 94px;
}
.section-team{
    padding: 94px 0;
}
.footer{
    padding: 60px 0;
}

/* Portfolio */

.filter-list-item{
    font-family: "Roboto";
    font-size: 16px;
    line-height: 26px;
}

.filter-list-btn{
    color:var(--primary-text-color);
}

.filter-list-btn:hover{
    color: var(--accent-color);
}

.portfolio-list-title{
    font-family: "Roboto";
    font-size: 18px;
    line-height: 36px;
}

.portfolio-list-description{
    font-family: "Roboto";
    font-size: 16px;
    line-height: 30px;
}